<section class="section">
    <div class="container">
      <h1 class="title">Forms</h1>
      <p class="subtitle">Select, radio, checkbox...</p>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Text</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input" [formControl]="textControl">
            </div>
          </div>

        </div>
        <div class="column">
          Input text simple
          <pre>{{ textControl.value | json }}</pre>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Number</label>
            <div class="control">
              <input class="input" type="number" placeholder="Number input" [formControl]="numberControl">
            </div>
          </div>

        </div>
        <div class="column">
          Input number simple
          <pre>{{ numberControl.value | json }}</pre>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Checkbox</label>
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" [formControl]="checkboxControl">
                Check me!
              </label>
            </div>
          </div>

        </div>
        <div class="column">
          Checkbox
          <pre>{{ checkboxControl.value | json }}</pre>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Radio</label>
            <div class="control">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="radioControl" value="Yup" [formControl]="radioControl">
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" name="radioControl" value="Nope" [formControl]="radioControl">
                  No
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          Radio
          <pre>{{ radioControl.value | json }}</pre>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Select simple</label>
            <div class="control">
              <div class="select">
                <select [formControl]="simpleSelectControl">
                  <option>Opción 1</option>
                  <option>Opción 2</option>
                  <option>Opción 3</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          Select simple
          <pre>{{ simpleSelectControl.value | json }}</pre>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Select distinto valor</label>
            <div class="control">
              <div class="select">
                <select [formControl]="valueSelectControl">
                  <option value="1">Opción 1</option>
                  <option value="2">Opción 2</option>
                  <option value="3">Opción 3</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          Select distinto valor
          <pre>{{ valueSelectControl.value | json }}</pre>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Select object valor (binding)</label>
            <div class="control">
              <div class="select">
                <select [formControl]="objSelectControl">
                  <option [value]="mockObj1">Opción 1</option>
                  <option [value]="mockObj2">Opción 2</option>
                  <option [value]="mockObj3">Opción 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Select object valor (ngValue)</label>
            <div class="control">
              <div class="select">
                <select [formControl]="objSelectControl">
                  <option [ngValue]="mockObj1">Opción 1</option>
                  <option [ngValue]="mockObj2">Opción 2</option>
                  <option [ngValue]="mockObj3">Opción 3</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          Select object valor (binding)
          <pre>{{ objSelectControl.value | json }}</pre>
        </div>
      </div>


    </div>
  </section>

  <section>
    <div class="container">
      <nav
        class="pagination is-centered"
        role="navigation"
        aria-label="pagination">
        <a class="pagination-previous" [routerLink]="['/4']">Anterior</a>
        <a class="pagination-next"  [routerLink]="['/6']">Siguiente</a>
      </nav>
    </div>
  </section>
