<section class="section">
  <div class="container">
    <h1 class="title">Forms</h1>
    <p class="subtitle">Prueba cosas locas, completa la checklist y pregunta cualquier cosa que te sobrevuele la cabeza</p>

    <div class="columns is-vcentered">
      <div class="column">

        <div class="field">
          <label class="label">Text</label>
          <div class="control has-icons-left has-icons-right">

            <!-- INPUT -->
            <input class="input" type="text" placeholder="Text input"
                   [ngClass]="{'is-success': huh?.valid, 'is-danger': huh?.invalid}">


                   <span class="icon is-small is-right">
              <i class="fa" [ngClass]="{'fa-check': huh?.valid, 'fa-exclamation-triangle': huh?.invalid}">
              </i>
            </span>
          </div>

          <!-- ERROR HELPER -->
          <p class="help is-danger" *ngIf="huh?.invalid">Uh Oh!</p>


        </div>

      </div>
      <div class="column">
        Value
        <pre>{{ textControl?.value | json }}</pre>
        Errors
        <pre>{{ textControl?.errors | json }}</pre>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">

        <div class="field">
          <label class="label">Checkbox</label>
          <div class="control">
            <label class="checkbox">

              <!-- CHECKBOX -->
              <input type="checkbox">


              Check me!
            </label>
          </div>
        </div>

      </div>
      <div class="column">
        Value
        <pre>{{ huh?.value | json }}</pre>
        Errors
        <pre>{{ huh?.errors | json }}</pre>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <nav
      class="pagination is-centered"
      role="navigation"
      aria-label="pagination">
      <a class="pagination-previous" [routerLink]="['/7']">Anterior</a>
      <a class="pagination-next" [routerLink]="['/9']">Siguiente</a>
    </nav>
  </div>
</section>
