<section class="section">
  <div class="container">
    <h1 class="title">Forms</h1>
    <p class="subtitle">Probando FormGroups por primera vez</p>

    <form [formGroup]="myForm">
      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Text</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Text input" formControlName="text"
                      [ngClass]="{'is-success': myForm.get('text').valid, 'is-danger': myForm.get('text').invalid}">
              <span class="icon is-small is-right">
                <i class="fa" [ngClass]="{'fa-check': myForm.get('text').valid, 'fa-exclamation-triangle': myForm.get('text').invalid}">
                </i>
              </span>
            </div>
            <p class="help is-danger" *ngIf="myForm.get('text').invalid">Uh Oh!</p>
          </div>

        </div>
        <div class="column">
          Value
          <pre>{{ myForm.get('text').value | json }}</pre>
          Errors
          <pre>{{ myForm.get('text').errors | json }}</pre>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">

          <div class="field">
            <label class="label">Checkbox</label>
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" formControlName="checkbox">
                Check me!
              </label>
            </div>
          </div>

        </div>
        <div class="column">
          Value
          <pre>{{ myForm.get('checkbox').value | json }}</pre>
          Errors
          <pre>{{ myForm.get('checkbox').errors | json }}</pre>
        </div>
      </div>
    </form>

  </div>
</section>

<section>
  <div class="container">
    <nav
      class="pagination is-centered"
      role="navigation"
      aria-label="pagination">
      <a class="pagination-previous" [routerLink]="['/8']">Anterior</a>
      <a class="pagination-next" [routerLink]="['/10']">Siguiente</a>
    </nav>
  </div>
</section>
