<section class="section">
  <div class="container">
    <h1 class="title">Forms</h1>
    <p class="subtitle">Cambiando el modelo desde TS</p>

    <div class="columns is-vcentered">
      <div class="column">

        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Text input" [formControl]="nameControl"
                   [ngClass]="{'is-success': nameControl.valid, 'is-danger': nameHasError}">
            <span class="icon is-small is-right">
              <i class="fa" [ngClass]="{'fa-check': nameControl.valid, 'fa-exclamation-triangle': nameHasError}">
              </i>
            </span>
          </div>
          <p class="help is-success" *ngIf="nameControl.valid && nameControl.value === 'Batman'">You rock!</p>
          <p class="help is-success" *ngIf="nameControl.valid && nameControl.value !== 'Batman'">You know how to type</p>
          <p class="help is-danger" *ngIf="nameHasError">Must enter a name</p>
        </div>

        <a class="button is-primary" (click)="batmanFn()">Soy batman</a>

      </div>
      <div class="column">
        Desde la clase TS podemos usar <span class="tag is-dark">setValue</span> para establecer el valor de nuestro form,
        two-way binding propagará el cambio a la vista
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">
    <nav
      class="pagination is-centered"
      role="navigation"
      aria-label="pagination">
      <a class="pagination-previous" [routerLink]="['/3']">Anterior</a>
      <a class="pagination-next" disabled>Siguiente</a>
    </nav>
  </div>
</section>
