<section class="section">
  <div class="container">
    <h1 class="title">Forms</h1>
    <p class="subtitle">Escuchando cambios y cambiando validadores</p>

    <div class="columns is-vcentered">
      <div class="column">

        <div class="field">
          <label class="label">Text</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Text input" [formControl]="textControl"
                   [ngClass]="{'is-success': textControl.valid, 'is-danger': textControl.invalid}">
            <span class="icon is-small is-right">
              <i class="fa" [ngClass]="{'fa-check': textControl.valid, 'fa-exclamation-triangle': textControl.invalid}">
              </i>
            </span>
          </div>
          <p class="help is-danger" *ngIf="textControl.invalid">Uh Oh!</p>
        </div>

      </div>
      <div class="column">
        Value
        <pre>{{ textControl.value | json }}</pre>
        Errors
        <pre>{{ textControl.errors | json }}</pre>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">

        <div class="field">
          <label class="label">Checkbox</label>
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" [formControl]="checkboxControl">
              Check me!
            </label>
          </div>
        </div>

      </div>
      <div class="column">
        Value
        <pre>{{ checkboxControl.value | json }}</pre>
        Errors
        <pre>{{ checkboxControl.errors | json }}</pre>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <nav
      class="pagination is-centered"
      role="navigation"
      aria-label="pagination">
      <a class="pagination-previous" [routerLink]="['/6']">Anterior</a>
      <a class="pagination-next" disabled>Siguiente</a>
    </nav>
  </div>
</section>
