<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        gAngular
      </h1>
      <h2 class="subtitle">
        Forms inFormAles :)
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Validación HTML5</p>
          <div class="content">
            <p>Conoce el estándar HTML5, sin angular de por medio</p>
          </div>
          <footer>
            <a [routerLink]="['/0']" class="card-footer-item">Gratis?</a>
          </footer>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Model binding</p>
          <div class="content">
            <p>Utiliza el otro lado del two-way data binding</p>
          </div>
          <footer>
            <a [routerLink]="['/4']" class="card-footer-item">Whoa</a>
          </footer>
        </article>
      </div>
    </div>
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Single form control</p>
          <div class="content">
            <p>Solo necesitamos un FormControl para los Forms mas simples</p>
          </div>
          <footer>
            <a [routerLink]="['/1']" class="card-footer-item">Vamos</a>
          </footer>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Modelando varios elementos</p>
          <div class="content">
            <p>Con un FormControl podemos bindear cualquier elemento</p>
          </div>
          <footer>
            <a [routerLink]="['/5']" class="card-footer-item">Enséñamelo</a>
          </footer>
        </article>
      </div>
    </div>
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Primer validador</p>
          <div class="content">
            <p>Usa validadores nativos de HTML5 en tus formularios</p>
          </div>
          <footer>
            <a [routerLink]="['/2']" class="card-footer-item">Venga</a>
          </footer>
        </article>
      </div>
       <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Validadores a go-go</p>
          <div class="content">
            <p>Integrando validaciones en FormControl</p>
          </div>
          <footer>
            <a [routerLink]="['/6']" class="card-footer-item">Yeeha</a>
          </footer>
        </article>
      </div>
    </div>
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Validación paciente</p>
          <div class="content">
            <p>Controla el estado del formulario y muestra errores, pero espera primero al usuario</p>
          </div>
          <footer>
            <a [routerLink]="['/3']" class="card-footer-item">Ok</a>
          </footer>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Controlando el formulario desde Typescript</p>
          <div class="content">
            <p>Añade y elimina validadores desde TS</p>
          </div>
          <footer>
            <a [routerLink]="['/7']" class="card-footer-item">Whoops!</a>
          </footer>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box has-text-centered	">
        <p class="title">FormControl Playground</p>
        <div class="content">
          <p>Pon en práctica lo aprendido con FormControl</p>
        </div>
        <footer>
          <a [routerLink]="['/8']" class="card-footer-item">GASHUNK!</a>
        </footer>
      </article>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Enter FormGroup</p>
          <div class="content">
            <p>Ahora comienza lo bueno, une varios FormControl en un mismo FormGroup</p>
          </div>
          <footer>
            <a [routerLink]="['/9']" class="card-footer-item">Dab</a>
          </footer>
        </article>
      </div>
    </div>
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Conocimientos de FormControl aplicables a FormGroup</p>
          <div class="content">
            <p>Todo lo que no sabías que sabías de FormGroup, sin ningún esfuerzo añadido :)</p>
          </div>
          <footer>
            <a [routerLink]="['/10']" class="card-footer-item">Chimichangas</a>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section>
