<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        gAngular
      </h1>
      <h2 class="subtitle">
        Forms inFormAles :)
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Single form control</p>
        <div class="content">
          <p>Solo necesitamos un FormControl para los Forms mas simples</p>
        </div>
        <footer>
          <a [routerLink]="['/1']" class="card-footer-item">Vamos</a>
        </footer>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Primer validador</p>
        <div class="content">
          <p>Usa validadores nativos de HTML5 en tus formularios</p>
        </div>
        <footer>
          <a [routerLink]="['/2']" class="card-footer-item">Venga</a>
        </footer>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Esperar al input para validar</p>
        <div class="content">
          <p>Controla el estado del formulario y muestra errores, pero espera primero al usuario</p>
        </div>
        <footer>
          <a [routerLink]="['/3']" class="card-footer-item">Ok</a>
        </footer>
      </article>
    </div>
  </div>
</section>
